_backup/
docs/generated
documentation
build/*
!build/static-build.sh
!build/Makefile
resources/icons/*.png.*.png
*.swp
*.org~
.#*
\#*#
*~
*.so
*.import.*
*.backup
PROFILE.*
*.so.PROFILE
chicken-repository-path
TAGS
site
